@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        /* Default body styles can go here if needed */
    }
}

/* Custom Scrollbar */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}